/* Placeholder Styling */

html {
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
}

nav {
    align-self: center;
    margin-right: 10px;
}

nav a {
    margin-left: 10px;
    background-color: aqua;
    padding: 10px;
    clip-path: polygon(50% 0%, 100% 0, 100% 62%, 76% 100%, 0 100%, 0 0);
}

/* Loading Cage styling. blur-content class styling is for blurring out the page while the page is "loading" */

.loading-gif {
    position: absolute;
    z-index: 99;
    left: 50%; 
    bottom: 50%;
}

.blur-content {
    filter: blur(1.5rem);
}

/*  */