@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.movie-item img {
    color: #ffffff;
}

body {
max-width: 100%;
max-height: fit-content;
background-color: #06001B;
margin: 0;
padding: 0;
}

html {
margin: 0;
padding: 0;
}

/* NAV BAR. */ 

.logoutBtn {
background-color: #06001B;
font-family: 'Bungee';
width: 100px;
height: auto;
font-size: 30px;
line-height: 30px;
color: #FFDD4F;
border: 4px solid #78F7FA;
margin: 5px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 20px;
}


.adminBtn {
background-color: #06001B;
font-family: 'Bungee';
width: 220px;
height: auto;
font-size: 30px;
line-height: 30px;
color: #FFDD4F;
border: 4px solid #78F7FA;
margin: 8px 10px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 20px;
}

.navBtn{
background-color: #06001B;
font-family: 'Bungee';
width: 110px;
height: 100px;
font-size: 30px;
line-height: 30px;
color: #FFDD4F;
border: 4px solid #78F7FA;
margin: 5px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 20px;

}

.all-btn {
    display: flex; 
}

.logoutBtn:hover {
    border: 4px solid #EA1AD9;
}


.container  {
display: flex;
align-items: center;
justify-content: space-between;
margin: 60px;
/* margin:60px; */
/* checkthis */
}

nav div {
margin: 10px;
}

/* MAIN */ 
.admin-all{
    background-color: #5A2464;
}
.top-part{
    position:relative;
    
}
.banner1 {
width: 710px;
font-family: 'Bungee';
font-style: normal;
font-weight: 400;
font-size: 120px;
line-height: 140px;
color: #FFDD4F;
margin: 60px 90px ;

} 

.star {
position: absolute;
top: 200px;
right:300px;

}
.movie-recomended {
    padding: 0;
    margin: 0 80px;
}

.movie-recomended li {
    display: flex;
    justify-content: left;
    align-items: center;
}

.movie-split{
    
    text-align: left;
    display: flex;

   }
   .movie-name{
    width:200px
   }

   .movie-top{
    display: flex;
    width:800px
   }

.movie-recomended > li {
color: #FFDD4F;
font-family: 'Bungee';
list-style: none;
border-radius: 30px;
border: 4px solid #78F7FA;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
height: 60px;
font-size: 24px;
margin: 20px;
padding-left:20px;
padding-right:20px;
width: 700px;
color:#ffffff;
}


.number { 
font-size: 14px;
padding: 15px;
color: #FFDD4F;

}

.star2 {
position: absolute;
  top: 50px;
  left:680px;
}


.movie-orders  {
color: #ffffff;
font-family: 'Bungee';
list-style: none;

font-size: 24px;
}

.banner2 {
margin: 50px;
margin-left: 90px;
padding: 30px;
width:200px;
font-style: normal;
font-weight: 40;
font-size: 38px;
line-height: 40px;
border-radius: 30px;
border: 4px solid #78F7FA;
font-family: 'Bungee';
color: #ffffff;
}


.bannernew {
    margin: 50px;
    margin-left: 90px;
    padding: 30px;
    width:230px;
    font-style: normal;
    font-weight: 40;
    font-size: 38px;
    line-height: 40px;
    border-radius: 30px;
    border: 4px solid #78F7FA;
    font-family: 'Bungee';
    color: #ffffff;
    }


.ordered-list {
padding: 0;
margin: 15px;
}

.movie-name {
    width:250px;

   
}

.ordered-list > li {
border-bottom: #FFDD4F 4px solid;
width: auto;
padding: 0;
margin:0;   
}

.ordered-list > :first-child {
border-top: #FFDD4F 4px solid;
width: auto;
padding: 0;
}

.ordered-list-item{
display: flex;
justify-content: space-between;
align-items: center;
} 

.ordered-list {
    margin: 0;
}

.bandymas{ 
    width: 400px;
}
.btn-all{
    display: flex;
}

.btn-1 {

border: 3px solid #FF3D40;
border-radius: 30px;
width: 180px;
height: auto;
font-size: 13px;
font-family: 'Bungee';
background-color: #06001B;
color: #ffffff;
margin: 10px;
}


.order-date {
left: 500px; 
}

.btn-1:hover {
background-color: #FF3D40;
color: #06001B;

}

.search-container {
margin:50px;
margin-left: 90px;
display:flex;

}

.get-movies{
color: #ffffff;
font-family: 'Bungee';
background-color: #06001B;
border-radius: 30px;
border: 4px solid #78F7FA;
height: 75px;
width:300px;
font-size:28px;
text-align: center;
margin: 10px 10px;
padding:  0 15px; 
}

.get-movies-picker{
    cursor: pointer;
    height: 30px;
    width: auto;
    font-size: 10px;
}

.get-movies-location{
    cursor: pointer;
    height: 39px;
    width: auto;
    font-size: 10px;
    padding:  0 0; 
}

.picker-location {
    display: flex;
    justify-content: left;
    margin: 0 -6px;
}

.get-movies2{
    color: #ffffff;
    font-family: 'Bungee';
    background-color: #06001B;
    border-radius: 30px;
    border: 4px solid #78F7FA;
    height: 75px;
    width:700px;
    font-size:28px;
    align-items: center;
    display: flex;
    justify-content: center;
    }

    .get-search2{
    color: #ffffff;
    font-family: 'Bungee';
    background-color: #06001B;
    border-radius: 30px;
    border: 4px solid #78F7FA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 75px;
    width: 700px;
    font-size:28px;
    text-align: center;
    margin: 10px 10px;
    padding:  0 15px; 

    }

    .all-btn-admin{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        padding-top: 60px; 
    }
  

.get-movies:hover{
    border: 4px solid #EA1AD9;
}
.get-search{
    width:50%; ;
    height: 70px;
    min-width: 330px;

}

.main-movie-container{
display: flex;
flex-direction: column;
}

.admin-submit  {
    border:4px solid #78F7FA;
    border-radius: 50px;
    padding:20px 30px;
    line-height: 30px;
    background-color:#06001B;
    font-family: 'Bungee';
    font-weight: 200;
    font-size: 30px;
    color:#78F7FA;
    margin: 5px;
}

.draft-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 30px;
    border: 4px solid #78F7FA;
    border-radius: 30px;
}

.draft-list2 {
    display: flex;
   justify-content: center;
    align-items: center;
    margin: 10px;
}


.draft-all{
    display: flex;
    flex-wrap: wrap;
    margin: 60px;

}

.draft-title {
    font-family: 'Bungee';
    font-size: 20px;
    color: #78F7FA;
    margin: 5px;
}

.draft-title2 {
    font-family: 'Bungee';
    font-size: 15px;
    color: #78F7FA;
    margin: 5px;
}

.draft-button{
    border: 4px solid #78F7FA;
    border-radius: 40px;
    padding: 10px 20px;
    line-height: 30px;
    background-color: #06001B;
    font-family: 'Bungee';
    font-weight: 200;
    font-size: 30px;
    color: #78F7FA;
    margin: 15px;
}

.draft-flex {
    display: flex;
    justify-content: center;
}

.draft-img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.draft-width {
    width: 500px;
    margin: 20px;
    padding: 20px;
}
 
.movie-container{
margin-top: 300px;
padding-left: 80px;
padding-right: 60px;
padding-bottom: 60px;
margin: 0;
}

.movies-list {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.movie-item > img {
margin: 10px;
transition: all 1s ease-in-out;
width: 270px;
height: 400px;
object-fit: cover;
border-radius: 20px;
}

.movie-item:hover > img {
transform: scale(1.2);
margin: 0 30px;
opacity: 0.7;
}

.button-active{
    color: #ffffff;
    font-family: 'Bungee';
    background-color: transparent;
    border-radius: 30px;
    border: 4px solid #78F7FA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 70px;
    font-size:18px;
    text-align: center;
    margin: 20px;
    padding: 5px; 
}

.button-active:hover{
    border: 4px solid #EA1AD9;
    
}

/* ADMIN RESERVATION */ 
.all-reservations {
    background-color: #78F7FA;
    border-radius: 30px; 
    margin: 90px;

}

.admin-reservation-details {
    border: 4px solid #06001B;
    border-radius: 30px;
    padding: 15px;
    font-family: 'Cambay';
    font-weight: 300;
    font-size: 20px;

}

.admin-reservation-name {
   font-size: 20px;
   
}

.reservation-title {
    color: #06001B;
    font-family: 'Bungee';
    font-size: 30px;
    font-weight: 200;
    margin: 0px;
    padding: 10px;
    margin-left: 90px;
}

.reservation-form {
    color: #06001B;
    font-family: 'Bungee';
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    list-style: none;  
}
.reservation-form-container:first-child {
    margin-top: 0;
}

.reservation-form-container{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 4px solid #06001B;
    margin: 10px;
}

.reservation-btn {
    border: 4px solid #06001B;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    background-color: #78F7FA;
    color: #06001B;
    font-family: 'Bungee';
    font-size: 15px;
}

        
/* FOOTER */ 


.footer-container {
font-family: 'Bungee';
border-top: #EA1AD9 4px solid;
margin: 0;
padding: 90px;
padding-top: 50px;
font-size: medium;
display: flex;
color: white;
justify-content: space-around;
position: relative;
}

.contacts-list{
    color:#EA1AD9;
    margin-top:0;
}

.location{
    margin-right:100px;
    margin-top:100px;
}

.pickup-locations {
line-height:30px;
color:#EA1AD9; 
margin: 0;
margin-left:25px;
padding: 0;
}

ul{
    margin-left:10px;
}

.contacts {
line-height:15px;
margin-top:100px; 
}

.contacts > h3 {
padding-bottom: 15px; 
padding-top: 10px;
}

.email{
color: #EA1AD9;
}

.phone {
color: #EA1AD9;
}

.address{
color: #EA1AD9;
}

.socials {
display: flex;
flex-direction: column;
border: 2px solid #EA1AD9;
width: 100px;
height: 180px;;
padding: 15px;
border-radius: 10px;
position: absolute;
top:100px;
right:-30px;

}


footer {
background-image: url(./components/images/FONAS1.png);
background-size: cover; 
background-attachment: fixed; 
position:relative;
}

.pages-button{
    display: flex;
    justify-content: center;
}

.form-title-all{
 width: auto;
}

@media all and (max-width:1500px) {
    .star{
        display: none;
    }

    .modal {
        top: 25px;
        width: 100%;
    }

    .modal-content {
        width: 80%;
    }
        
    .get-movies{
        height: 75px;
        width:300px; 
    }

    .get-movies-picker{
        height: 30px;
        width: 60px;
        font-size: 10px;
    }

    .get-movies-location{ 
        height: 39px;
        width: auto;
    }
}

@media all and (max-width:1040px) {

    .small-btn{
    display: flex;
    justify-content: center;
    }
   
    .container{
        display: block;
    }

    .all-btn {
        position: sticky;
        left: -100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        display: none;
    }
    
    .number{
        font-size: 20px;
        padding: 5px;
        padding-right: 10px;
    }

    .ordered-list-item{
       
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100px;
    }
    .movie-name{
        width:auto;
    }

    .footer-container {
        flex-direction: column;
      
    }

    .modal {
        width: 100%;
        }
  
    .get-movies{
        height: 75px;
        width:300px; 
    }

    .get-movies-picker{
        height: 30px;
        width: 60px;
        font-size: 10px;
    }

    .get-movies-location{ 
        height: 39px;
        width: auto;
    }    
}

@media screen and (max-width: 860px) {
    .display-story{
        display:none;;
    }
    .display-directed{
        display:none;;
    }
    .display-genre{
        display:none;;
    }
    .banner1{
        font-size:80px;
        width:500px;
        line-height: 100px;

    }
    .star2{
        top:10px;
        left:380px;

    }
    .movie-recomended >li{
        width:380px;
    }
    .movie-recomended{
        margin:20px;
    }
    .search-container{
        margin:20px 0;
        justify-content: center;
        flex-wrap: wrap;

    }

    .modal {
        width: 80%;
        left: 10%;
        }
        
        .get-movies{
            height: 75px;
            width:300px; 
        }
    
       .get-movies-picker{
            height: 30px;
            width: 60px;
            font-size: 10px;
       }
    
        .get-movies-location{ 
            height: 39px;
            width: auto;
        }
}
@media screen and (max-width: 680px) {
    .movie-top{
        display: flex;
        flex-direction: column;
    }
    .display-cast{display: none;}
    .movie-container{
        max-width: 80%;
    }

   .banner1{
    font-size: 50px;
    width:300px;
    line-height: 70px;

   }

   .star2{
    top: -10px;
    left:340px;
   }

   .btn-all{display: flex;
    flex-direction: column;  
   } 
   
    .modal {
        width: 80%;
    }

    .get-movies{
        height: 75px;
        width:30px; 
    }

   .get-movies-picker{
        height: 30px;
        width: 60px;
        font-size: 10px;
   }

    .get-movies-location{ 
        height: 39px;
        width: auto;
    }


}


@media screen and (max-width:500px) {
    

    .admin-reservation-details > p {
        font-size: small;
    }

    .reservation-title {
        margin: 40px;
        line-height: 30px;
        padding-top: 30px;
    }

    .all-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .all-order-btn1{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .all-reservations > ul {
        padding: 0;
    }

    .reservation-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 10px;
    }


    .all-reservations{
        margin: 10px;
    }

    .draft-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
     
    .get-movies2{
        width: 200px;
        font-size: 20px;
        height: auto;
    }


    .get-search2 {
        width: 200px;
        font-size: 20px;  
    }


    .all-btn-admin{
        display: flex;
        flex-direction: column;
        
    }

    .draft-all{
        margin: 0px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    .text-container-title{
        line-height: 30px;
    }
    .flex-admin {
        margin: 10px;

    }
    .for-info-admin {
        width: auto;
        
    }
    .footer-container{
        padding:0;
        padding-top:10px;
        padding-left: 30px;
    }
    .banner1{
        margin:20px;

    }  
    .banner2{

        font-size: 22px;
        padding: 18px;
        width: 140px;
        margin-left:150px;
        line-height: 30px;
    }  

    .movie-recomended >li{
        width:220px;
        height: auto;
        font-size:15px;
    }

    .edit-form-movie {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .movie-recomended{
        margin:20px;
    }
  
   .banner2{
    margin-left:100px;
   }

   .get-search{
    min-width:200px
   }

   .modal {
    right: 120px;
   }

   .modal-content {
    width: 140%;
    margin: 40px;
   }

   .get-movies{
        height: 75px;
        width:300px; 
    }

   .get-movies-picker{
        height: 30px;
        width: 60px;
        font-size: 10px;
   }

    .get-movies-location{ 
        height: 39px;
        width: auto;
    }
}

@media screen and (max-width:420px) {
 .star2{display:none;}
 .banner2{margin:20px}
}
